<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if titulo%}
        <title> {{titulo}} </title>
    {% else %}    
        <title> Mi sitio </title>
    {% endif %}    
</head>
<body>
    <div id="menu"> 
        <a href="/" class="menu_item"> Inicio </a>
        <a href="/login/" class="menu_item"> Iniciar Sesión </a>
    </div>

    {% with mensajes = get_flashed_messages() %}
        {% if mensajes%}
            <ul>
                {% for mensaje in mensajes %}
                    <li> {{ mensaje }}</li>
                {% endfor %}    
            </ul>
        {% endif%}    
    {% endwith %}    

    {% block contenido %}
    
    {% endblock %}
</body>
</html>